@model CameloNinja.Models.PedidoModel

<div>
    <h4>Detalhes do Pedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataDesejoEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDesejoEntrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeProduto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeProduto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorDeVenda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorDeVenda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoDePagamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDePagamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
